body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    text-align: center;
}

.quiz .container {
    min-height: 80vh;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

.question {
    font-size: 18px;
    margin-bottom: 20px;
    display: none;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    margin: 5px;
}

.option button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff; 
    color: #2d3d23;
    border: 1px solid #2d3d23;
    transition: background-color 0.3s;
}

.option button:hover {
    background-color: #2d3d23; 
    color: #fff; 
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2d3d23; 
    color: #fff;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #172214; 
}

/* Style for the product grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Style for each product card */
.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

/* Style for product image */
.product-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Style for product title */
.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style for product price */
.product-price {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Style for product review */
.product-review {
    margin-bottom: 10px;
}

/* Style for add to cart button */
.add-to-cart {
    background-color: #2d3d23; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #172214; 
}

/* Hide the default checkbox */
input[type="checkbox"] {
    display: none;
}

.checkbox-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.checkbox-button.selected {
    background-color: #2d3d23;
    color: #fff !important;
}

.cta-button {
    background-color: #2d3d23; 
    color: #fff; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
}

.secondary-button {
    background-color: #fff; /* White background */
    color: #2d3d23; /* Blue text */
    border: 1px solid #2d3d23; /* Blue border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
}

/* Hover styles */
.cta-button:hover {
    background-color: #172214; /* Darker blue background */
}

.secondary-button:hover {
    background-color: #f0f0f0; /* Light gray background */
}

/* Style for the "Show Recommendations" button */
#showRecommendationsButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2d3d23; /* Blue background */
    color: #fff; /* White text */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#showRecommendationsButton:hover {
    background-color: #172214; /* Darker blue background on hover */
}

.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2d3d23; /* Green */
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.alert-success {
    background-color: #2d3d23; /* Green */
}

/* Animation */
@keyframes slideIn {
    0% { top: -100px; }
    100% { top: 20px; }
}

@keyframes slideOut {
    0% { top: 20px; }
    100% { top: -100px; }
}

.alert {
    animation: slideIn 0.5s forwards, slideOut 0.5s forwards 2.5s;
}

/* Style for the container holding the intro questions */
.quiz .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the heading */
  .quiz .container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style for the paragraph */
  .quiz .container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  
  /* Style for labels */
  .quiz .container label {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    display: block;
  }
  
  /* Style for input fields */
  .quiz .container input[type="text"],
  .quiz .container input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Style for submit button */
  #userInfoSubmit {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2d3d23;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Style for submit button on hover */
#userInfoSubmit:hover {
    background-color: #172214;
  }
  
  /* Center align text */
  .text-center {
    text-align: center;
  }
  
  /* Style for error message */
  .error-message {
    color: #ff0000;
    font-size: 14px;
  }
  